{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if not user.is_authenticated %}
        <div class="mt-5 d-flex flex-column align-items-center">
            <h1>Welcome Neighborhood</h1>
            <h2>Please Login to use our app</h2>
        </div>
    {% else %}
        <div class="container" >
            <div class=" text-center" style="margin-top:15%">
                <h1>Welcome to HoodWatch</h1>
                <h5 style="margin-top:6%">Please join a new neighborhood today</h5>
                <a href="{% url 'hood' %}" class="btn btn-sm btn-info mt-4">Join Neighborhood</a>
            </div>

        </div>
{% endif %}
{% endblock %}